* {
    box-sizing: border-box;
    user-select: none;
}

:root {
    --doc-height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;

    overscroll-behavior: none;
}

.container {
    background: #000;
    display: flex;

    width: 100%;
    height: 100vh;
    height: var(--doc-height);

    overflow: hidden;

    pointer-events: none;
}

.canvas {
    width: 100%;
    height: 100%;
}
